<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="ElliApiConfig" type="Elli.Api.Base.ApiConfiguration, Elli.Api.Base" />
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="Encompass.Auto.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <ElliApiConfig apiHost="https://api.elliemae.com" apiClientId="mt4azwt" clientSecret="anrIFgG9ablsBTq47hwyCd5l6^$&amp;Tr^rz1Fg1xIzZx*kXteVh25VTG&amp;CWtfPAq#$" idpHost="idp.elliemae.com" instanceId="TEBE11150202" redirectUrl="" userName="sdk" password="sdkdev03" />

   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>